

p {
	margin-left: auto;
	margin-right: auto;
	color: navy;
}


a {
    color: navy;
    display: block;
    width: 60px;
}

h1 { 
	color: red;
}

body {
	
  background-color: lightskyblue;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: navy;
}


ul {
	color: green;
}
